<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand h1">Seed Catalog</span>
    </div>
    <div class="nav navbar-nav navbar-right">
      <a> <%= link_to "Login", root_path %></a>
    </div> 
  </div>
</nav>
